@model ASP2236903.Models.producto_compra

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Producto_compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha de compra
        </dt>

        <dd>
            @ASP2236903.Controllers.Producto_compraController.FechaCompra(Model.id_compra)
            
        </dd>

        <dt>
            Nombre producto
        </dt>

        <dd>
            @ASP2236903.Controllers.Producto_compraController.NombreProdcuto(Model.id_producto)
        </dd>

        <dt>
           Cantidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
            
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
